@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação de envio de redefinição de senha.";
}

<h1 style="text-align: center;">@ViewData["Title"]</h1>

<hr/>
<div class="col-md-12" style="horiz-align: center; height: 100%;">
    <img src="~/imagens/LOGO SIGNO BETA.png" alt="Signo App" class="imgBETA" id="imgBETA"/>
    <hr/>
    <p style="text-align: center;">
        Se o email não chegar em alguns instantes, por favor verifique na sua caixa de emails marcados como Spam ou sua lixeira.
    </p>

</div>

