@{
    ViewData["Title"] = "Home Page";
}
    <head>
        <meta charset="UTF-8">


        <title>Gallety</title>
        <link href="~/css/normalize.css" rel="stylesheet" />
        <link href="~/css/gallery.prefixed.css" rel="stylesheet" />
        <link href="~/css/gallery.theme.css" rel="stylesheet" />

        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    </head>

<div class="text-center">



    <img src="~/imagens/LOGO SIGNO BETA.png" alt="Signo App" style="width: 30%; height: 30%;" />

    <div class="gallery autoplay items-4" style="width: auto; height: auto;">
        <div id="item-1" class="control-operator"></div>
        <div id="item-2" class="control-operator"></div>
        <div id="item-3" class="control-operator"></div>
        <div id="item-4" class="control-operator"></div>

        <figure class="item" style="height: auto; width: auto">

            <img class="img-fluid imgRound" src="~/imagens/ODN II - 3.JPG" style="width: 50%; height: 50%;" />
        </figure>

        <figure class="item" style="height: auto; width: auto;" alt="Signo App" style="width: 50%; height: 50%;">

            <img src="~/imagens/ptwboard2.jpg" class="img-fluid imgRound" style="width: 50%; height: 50%;" />


        </figure>

        <figure class="item" style="height: auto; width: auto">

            <img class="img-fluid imgRound" src="~/imagens/linkedin.jpg" alt="Signo App" style="width: 50%; height: 50%;" />

        </figure>
        <figure class="item" style="height: auto; width: auto">
           
            <img src="~/imagens/HN.JPG" class="img-fluid imgRound"  alt="Signo App" style="width: 20%; height: 20%;" />
          
        </figure>

        <div class="controls">
            <a href="#item-1" class="control-button">•</a>
            <a href="#item-2" class="control-button">•</a>
            <a href="#item-3" class="control-button">•</a>
            <a href="#item-4" class="control-button">•</a>
        </div>
    </div>
</div>
