@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        @*<h4 class="display-4">Bem-vindo</h4>*@

       
        <img src="~/imagens/LOGO SIGNO BETA.png"  alt="Signo App" style="width: 30%; height: 30%;" /> 
    </div>
