@{
    ViewData["Title"] = "Home Page";
}
    <head>
        <meta charset="UTF-8">


        <title>Demo of gallery.css</title>
        <link href="~/css/normalize.css" rel="stylesheet" />
        <link href="~/css/gallery.prefixed.css" rel="stylesheet" />
        <link href="~/css/gallery.theme.css" rel="stylesheet" />
       </head>

    <div class="text-center">
        @*<h4 class="display-4">Bem-vindo</h4>*@

       
        <img src="~/imagens/LOGO SIGNO BETA.png"  alt="Signo App" style="width: 30%; height: 30%;" /> 
        
        <div class="gallery autoplay items-3">
            <div id="item-1" class="control-operator"></div>
            <div id="item-2" class="control-operator"></div>
            <div id="item-3" class="control-operator"></div>

            <figure class="item">
                <img class="imgRound" src="~/imagens/LOGO SIGNO BETA.png"  alt="Signo App" style="width: 50%; height: 60%;" /> 
            </figure>

            <figure class="item">

                <img class="imgRound" src="~/imagens/ocyan-1.jpg" alt="Signo App" style="width: 50%; height: 50%;" />

            </figure>

            <figure class="item">

                <img class="imgRound" src="~/imagens/linkedin.jpg" alt="Signo App" style="width: 50%; height: 50%;" />

            </figure>

            <div class="controls">
                <a href="#item-1" class="control-button">•</a>
                <a href="#item-2" class="control-button">•</a>
                <a href="#item-3" class="control-button">•</a>
            </div>
        </div>
    </div>
