@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<img src="~/imagens/Wapp_HS_mural.jpg" />
<img src="~/imagens/Wapp_HS_main.jpg" />